
.saved-btn {
margin-top: -7px;
margin-left: 17px;
background-color: rgb(96, 255, 135);
color: white;
border: none;
padding: 8px 10px;
font-size: 14px;
cursor: pointer;
border-radius: 5px;
width: 91%;
background-image: linear-gradient(rgb(172, 180, 255), rgb(89, 155, 241) 29%, rgb(29, 88, 253) 58%, rgb(17, 103, 210));
}
  .saved-btn:hover {
    background-color: #c186ff;
    background-image: linear-gradient(rgb(103, 115, 228), rgb(28, 92, 175) 29%, rgb(15, 49, 143) 58%, rgb(4, 50, 106)) 
  }
  


@keyframes successAnimation {
    0% {
      background-color: #4CAF50; 
      transform: scale(1);
    }
    50% {
      transform: scale(1.1); 
    }
    100% {
      transform: scale(1); 
    }
  }